<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key ="pathToOldFiles" value ="E:\Programming\Start Testing Folder\" />
    <add key ="pathToNewFiles" value ="E:\Programming\Start Testing Folder\New Files\" />
    <add key ="pathToExlFile" value ="E:\Programming\Start Testing Folder\Report\" />
    <add key ="excelFileName" value ="Report" />
  </appSettings>
</configuration>
